<RunSettings>
    <RunConfiguration>
        <EnvironmentVariables>
            <DEBUG>pw:api</DEBUG>
        </EnvironmentVariables>
    </RunConfiguration>

    <!-- Custom test parameters -->
    <TestRunParameters>
        <Parameter name="URL" value="https://www.bricklink.com/"/>
    </TestRunParameters>

    <!-- Playwright -->
    <Playwright>
        <BrowserName>chromium</BrowserName>
        <ExpectTimeout>5000</ExpectTimeout>
        <LaunchOptions>
            <Headless>true</Headless>
            <Channel>msedge</Channel>
        </LaunchOptions>
    </Playwright>
</RunSettings>